{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Video{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<p style="color: red;">{{ message }}</p>
{% endfor %}
<form method="post">

  <table>
    <tr>
      <input type="text" name="new_video"/>
      <input type="submit" name="submit"/>
    </tr>
  </table>
    <input type="submit" value = "Random Image" name="random_image"/>
</form>

<img src="{{image}}" alt="{{imgL}}" style="width:100%">

{% endblock %}